<ion-header background="danger">
  <ion-toolbar>
      <ion-title slot="start">
        <img
            src="../../../assets/images/icon.jpg" height="40px"
          />
      </ion-title>
    <ion-title slot="start">
        <img
            src="../../../assets/images/letters.png" height="20px"
          />
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Checkout</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngIf="cartProducts" lines="none">
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Resumen de compra</ion-label>
      </ion-item-divider>
      <app-list-item *ngFor="let item of cartProducts; let i = index"
        (cartChange)="modifyCart($event, i)"
        [cartProduct]= "item"
        [cart]= "cart"
        class="item animated delay-0{{ i+3 }}s"
        [angularShape]="user.angularShape">
      </app-list-item>
      <ion-item lines="none" *ngIf="cartProducts.length==0" class="item animated delay-0{{ 3 }}s">
        <label color="light" class="summary-label" slot="primary">Aún no has agregado ninguna pizza al carrito.</label>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>
<ion-footer *ngIf="cart && !delay">
  <ion-item-group>
    <ion-item-divider>
      <ion-label>Subtotal</ion-label>
    </ion-item-divider>
    <ion-item lines="none">

      <ion-label>Subtotal productos</ion-label>
      <ion-label class="summary-label">{{cart.subtotal | number: '1.0-2'}} €</ion-label>
    </ion-item>
    <ion-item lines="none">

      <ion-label>IVA</ion-label>
      <ion-label class="summary-label">{{cart.iva | number: '1.0-2'}} €</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label color="success">Descuentos</ion-label>
      <ion-label class="summary-label" color="success">{{cart.discounts | number: '1.0-2'}} €</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Envío</ion-label>
      <ion-label class="summary-label">{{cart.delivery }} €</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label><strong>TOTAL</strong></ion-label>
      <ion-label class="summary-label"><strong>{{ cart.total | number: '1.0-2'}} €</strong></ion-label>
    </ion-item>
    <ion-button *ngIf="user"
      [style.color]="secondary"
      [style.border]="secondary"
      expand="block"
      [class.rounded-shape]="!user.angularShape" [class.angular-shape]="user.angularShape"
      (click)="submit()"
      >
      Realizar el Pago y a Disfrutar!
    </ion-button>
  </ion-item-group>

</ion-footer>
