<ion-header background="danger">
  <ion-toolbar>
      <ion-title slot="start">
        <img
            src="../../../assets/images/icon.jpg" height="40px"
          />
      </ion-title>
    <ion-title slot="start">
        <img
            src="../../../assets/images/letters.png" height="20px"
          />
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <form #form="ngForm" (ngSubmit)="register()">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>¡Bienvenido a Eat And Feel!</h3>
            <p> Es una versión limitada, y queremos saber qué tal te parece.</p>
            <br>
            <p> Por favor, ingresa tu correo para empezar. Este correo será usado sólamente para asociarlo a la encuesta. Después de saber tu opinión cualquier información personal será eliminada. </p>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com" [(ngModel)]="email" required pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer>
  <div padding>
    <ion-button  size="large" (click)="register()" [disabled]="form.invalid && delay" expand="block" >¡Empezar!</ion-button>
  </div>
</ion-footer>
